<h1>Pagina de Personaje</h1>
<p>Tarea 5 Graphql con API de Rick and Morty</p>
<h4> <%= link_to 'Volver inicio', root_path %></h4>

<%
require 'gqli'

@CONTENTFUL_GQL = GQLi::Client.new(
  "https://integracion-rick-morty-api.herokuapp.com/graphql"
)

motivox = params[:motivo]

@CapsQuery2 =  GQLi::DSL.query {
  character(id:motivox){
    name
    status
    species
    type
    gender
    origin{
      name
      id
    }
    location{
      name
      id
    }
    image
    episode{
      name
      id
      episode
    }
  }
}
@capitulo = @CONTENTFUL_GQL.execute(@CapsQuery2)
@cap = @capitulo.data.character
%>
<h2> Nombre: <%=@cap.name%></h2>
<hr>
<h3> Estatus: <%=@cap.status%></h3>
<hr>
<h3> Especie: <%=@cap.species%></h3>
<hr>
<h3> Tipo: <%=@cap.type%></h3>
<hr>
<h3> Genero: <%=@cap.gender%></h3>
<hr>
<h3> Lugar de origen: <%= link_to @cap.origin.name, place_index_path(:motivo => @cap.origin.id) %></h3>
<hr>
<h3> Lugar actual: <%= link_to @cap.location.name, place_index_path(:motivo => @cap.location.id) %></h3>
<hr>
<h3> Imagen:</h3>
<img src=<%=@cap.image%>>
<hr>
<h3> Episodios:</h3>
<hr>
<% @cap.episode.each do |character| %>
    <h3> - <%= link_to character.name, episode_index_path(:motivo => character.episode) %></h3>
<% end %>
