<h1>Pagina de Inicio</h1>
<p>Tarea 5 Graphql con API de Rick and Morty</p>

<div class="topnav">
  <a class="active" href="#home">Home</a>
  <input type="text" placeholder="Search..">
</div>

<h1>Episodios</h1>

<%
require 'gqli'

@CONTENTFUL_GQL = GQLi::Client.new(
  "https://integracion-rick-morty-api.herokuapp.com/graphql"
)
@CapsQuery1 =  GQLi::DSL.query {
  episodes{
    results{
      episode
      air_date
      name
    }
  }
}

@CapsQuery2 =  GQLi::DSL.query {
  episodes(page:2){
    results{
      episode
      air_date
      name
      id
    }
  }
}

@capitulos1 = @CONTENTFUL_GQL.execute(@CapsQuery1)
@capitulos2 = @CONTENTFUL_GQL.execute(@CapsQuery2)
@caps1 = @capitulos1.data.episodes.results
@caps2 = @capitulos2.data.episodes.results

%>
<% @caps1.each do |episode| %>
    <hr>
    <h2> Nombre: <%= link_to episode.name, episode_index_path(motivo: episode.episode)%></h2>
    <h3> Fecha de transmicion: <%=episode.air_date%></h3>
    <h3> Codigo episodio: <%=episode.episode%></h3>
    </hr>
<% end %>

<% @caps2.each do |episode| %>
    <hr>
    <h2> Nombre: <%= link_to episode.name, episode_index_path(motivo: episode.episode)%></h2>
    <h3> Fecha de transmicion: <%=episode.air_date%></h3>
    <h3> Codigo episodio: <%=episode.episode%></h3>
    </hr>
<% end %>
<% %>
